# ===================================================================
# ARQUIVOS DE SEGREDOS E CREDENCIAIS
# Nunca comite segredos ou chaves de API no repositório.
# ===================================================================
# Arquivo de variáveis de ambiente locais
.env

# Chave de serviço do Google Cloud (substitua pelo nome do seu arquivo se for diferente)
planar-alliance-460322-s9-b4ef8b49b442.json

# ===================================================================
# DEPENDÊNCIAS E ARQUIVOS DE BUILD
# Ignora pastas de output de compilação e dependências locais.
# ===================================================================
/target/
/build/
!.mvn/wrapper/maven-wrapper.jar

# ===================================================================
# ARQUIVOS DE LOG
# ===================================================================
*.log
*.log.gz

# ===================================================================
# ARQUIVOS ESPECÍFICOS DE IDEs
# ===================================================================
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Spring Tools Suite (STS) / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# ===================================================================
# ARQUIVOS DE SISTEMA OPERACIONAL
# ===================================================================
.DS_Store
Thumbs.db